.section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 88px;
	background-color: var(--background);
	width: 100%;
}
.header {
	width: 1240px;
}
.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: stretch;
	padding:0;
	margin: 0;
}
.leftMenu{
	display: flex;
	flex-direction: row;
	justify-content: left;
	text-align: left;
	width: 33%;
	list-style-type: none;
	position: relative;
	left: calc(var(--offset-base-size) * (-5));
	padding:0;
	margin: 0;
}
.leftMenu li, .rightMenu li {
	padding: calc(var(--offset-base-size) * 4) calc(var(--offset-base-size) * 5);
	margin: calc(var(--offset-base-size) * 4) 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.leftMenu li:first-child{
	padding-right: calc(var(--offset-base-size) * 7);

}
.logoMenu {
	text-align: center;
	width: 34%;
	display: inline-block;
}
.rightMenu{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: right;
	width: 33%;
	list-style-type: none;
	position: relative;
	right: calc(var(--offset-base-size) * (-5));
	padding:0;
	margin: 0;
}
.menuItem{

}
.menuText{
	display:inline-block;
	vertical-align:middle;
	padding-left: calc(var(--offset-base-size) * 2);
}
